@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Hind:500,600,700);
html { width: 100%; height: 100%; -ms-touch-action: manipulation; touch-action: manipulation; }

body { background-image: url(../assets/bg.png); background-repeat: repeat; width: 100%; min-height: 100%; margin: 0; }

main { display: block; }

html, body { font-family: "Helvetica", "Arial", sans-serif; font-size: 16px; font-weight: 500; line-height: 21px; color: #3d3d3c; }

h1, h2, h3, h4, h5, h6, p { margin: 0; padding: 0; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-family: "Hind", sans-serif; font-size: 56px; font-weight: 400; line-height: 1.35; letter-spacing: -0.02em; opacity: 0.54; font-size: 0.6em; }

h1 { font-family: "Hind", sans-serif; font-size: 48px; font-weight: 600; line-height: 45px; margin-top: 24px; color: black; margin-bottom: 24px; }

h2 { font-family: "Hind", sans-serif; font-size: 28px; font-weight: 500; line-height: 33px; margin-top: 24px; margin-bottom: 24px; color: #3d3d3c; }

h3 { font-family: "Hind", sans-serif; font-size: 28px; font-weight: 700; line-height: 33px; margin-top: 24px; margin-bottom: 24px; color: #3d3d3c; }

h4 { font-size: 18px; font-weight: 500; line-height: 23px; -moz-osx-font-smoothing: grayscale; margin-bottom: 16px; font-family: "Hind", sans-serif; }

a { color: #3d3d3c; text-decoration: underline; }

a:hover { font-weight: 700; color: black; }

blockquote { font-family: "Roboto", "Helvetica", "Arial", sans-serif; position: relative; font-size: 24px; font-weight: 300; font-style: italic; line-height: 1.35; letter-spacing: 0.08em; }

blockquote:before { position: absolute; left: -0.5em; content: '“'; }

blockquote:after { content: '”'; margin-left: -0.05em; }

mark { background-color: #f4ff81; }

dt { font-weight: 700; }

.bold { font-weight: 700 !important; }

.medium { font-weight: 500 !important; }

.black { color: black !important; }

.grey { color: #969F9E !important; }

.nude { color: #ba8a79 !important; }

.container { width: 80%; background-color: white; }

header { margin: 25px 0 25px 0; }

.logo { height: 80px; width: auto; }

.dfkfHeader { margin-top: 0; margin-bottom: 40px; }

.dfkfHeader:after { content: " "; border-bottom-style: solid; border-bottom-width: 5px; display: table-cell; width: 40px; position: relative; top: 25px; }

.panel, .panel-body, .panel-heading { border: 0px !important; border-radius: 0px !important; box-shadow: 0 0 0 0 !important; -webkit-box-shadow: 0 0 0 0 !important; }

.panel-heading { background-color: #f3dbd4; height: 55px; padding-right: 100px; padding-left: 100px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.panel-heading .glyphicon-chevron-up { margin-left: auto; }

.panel-title { font-size: 19px; font-weight: 700; color: #3d3d3c; }

.panel-body { padding: 0 0 0 0; }

.panel-box { background-color: #f3dbd4; height: 100%; padding: 25px 25px 25px 25px; margin: 25px 0px 25px 0px; }

.panel-box [class^='h'] { display: inline-block; }

.panel { margin-top: 25px !important; }

.collapsed > .glyphicon-chevron-up { transform: rotate(180deg); }

.glyphicon-chevron-up.collapsed { transform: rotate(180deg); }

.third-width-img { width: 100%; }

.image-text { color: #969F9E; margin-top: 20px; }

.line-seperator { border: 1px solid gray; height: 1px; margin-right: -15px; margin-left: -15px; margin-top: 25px; margin-bottom: 25px; }

.row .line-seperator { margin-right: 0; margin-left: 0; }

table { border-collapse: collapse; width: 100%; table-layout: fixed; }

table, th, td { border: 1px solid #969F9E; text-transform: uppercase; text-align: center; }

th, td { height: 72px; }

.frontpage-images { margin: 0 -7px 80px -7px; }

.frontpage-images img { width: 100%; height: 100%; }

img[data-object-fit="cover"] { -o-object-fit: cover; object-fit: cover; }

.frontpage-images > [class^='col'] { position: relative; overflow: hidden; height: 342px; padding: 7px 7px 7px 7px; }

.frontpage-images > [class^='col'] h1 { font-size: 40px; text-transform: uppercase; left: 30px; color: white; position: absolute; width: 100%; bottom: 0px; }

.frontpage-images > [class^='col'] .dfkfHeader:after { top: 15px; }

.insta-images { margin-bottom: 80px; }

.insta-images [class^='col'] { overflow: hidden; }

.insta-images img { object-fit: cover; width: 100%; height: 100%; }

.insta-pic { height: 168px; width: 168px; }

footer { margin-bottom: 80px; }

.footer-links a, .footer-links p, .contact a, .contact p { line-height: 27px; }

.footer-links a { text-decoration: none; display: block; }

.cookie-popup { height: 170px; background-color: #e3d0c9; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.white-btn { padding: 0px; height: 40px; width: 150px; background-color: white; border: 0; display: block; font-weight: 700; margin: 0 auto; }

@media (max-width: 768px) { .panel-heading { padding-right: 25px; padding-left: 25px; }
  table { border-collapse: collapse; width: 100%; table-layout: fixed; }
  table, th, td { border: 1px solid #969F9E; text-transform: uppercase; text-align: center; }
  th, td { height: 72px; font-size: 12px; } }

@media (max-width: 992px) { .container { width: 100%; } }
